<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('layouts/_head.ejs') %>
        <title>Document</title>
</head>

<body>
    <h1 style="text-align:center">Dashboard Page</h1>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">User: </h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger"href="/">LOGOUT</a>





</body>

</html>